<div class="nested-fields">
  <div class="fields">
    <%= f.label :category_name%>
    <%= f.text_field :cname , class:"form-control col-sm-2"%>
    <%= link_to_remove_association "Remove Category", f , class:"btn btn-danger" %>
  </div>
</div>