<h1>Editing Article</h1>

<%= render 'form', product_category_heading: @product_category_heading %>

<%= link_to 'Show', @product_category_heading %> |
<%= link_to 'Back', product_category_headings_path %>
